<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Удаление ответа</title>
</head>
<body>
<div class="container">
    <h1>Удаление ответа</h1>

    <form th:action="@{/answer/delete/{id}}" method="POST">
        <div>
            <p>Id работника: <span th:text="${fullAnswerDto.employeeId}"></span></p>
        </div>
        <div>
            <p>Описание: <span th:text="${fullAnswerDto.description}"></span></p>
        </div>
        <button type="submit">Удалить</button>
    </form>

    <p>После удаления вы будете перенаправлены на главную страницу.</p>
</div>
</body>
</html>
